<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/verification.css">
    <title>Details</title>
</head>
<body>
    <div class="container">
        <div class="col-5">
            <div class="main">
                <div class="row">
                    <div class="col-12 text-center mt-4">
                        <h1>Delete Appointment</h1>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-12">
                        <strong>Therapist Name:</strong> <%= owner.ownerName  %>  
                        <br>
                        <strong>Therapist Email:</strong> <%= owner.ownerEmail  %>
                        <br>
                        <strong>Appointment Date:</strong> <%= owner.appointmentDate  %>
                        <br>
                        <strong>Appointment Time:</strong> <%= owner.appointmentTime  %>
                        <br>
                        <strong>Appointment Code:</strong> <%= owner.appointmentCode  %>
                       <form action="/delete-appoint" method="POST">
                                <input type="hidden" name="appointmentCode" value= '<%= owner.appointmentCode  %>'>
                                <input type="hidden" name="memberEmail" value='<%= memberEmail %>'>
                                <input type="hidden" name="ownerEmail" value='<%= owner.ownerEmail  %>'>
                           <div class="mt-2">
                            <button type="submit" class="btn btn-dark
                           ">Delete</button>
                           </div>
                       </form>
                    </div>
                </div>
             </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>